python-dateutil
python-memcached==1.57
chardet
six
Pillow==4.3.0
Django==1.8.18
django-compressor==1.4
django-post-office==2.0.3
git+git://github.com/haiwen/django-post_office.git@01f2d9852feb407b1082009f35083ac067c86f75#egg=django-post_office
django-statici18n==1.1.2
djangorestframework==3.3.1
git+git://github.com/haiwen/django-constance.git@c2b2526dccfde840bb63615878d819ac27880790#egg=django-constance[database]
openpyxl==2.3.0
pytz==2015.7
django-formtools
qrcode
requests
requests_oauthlib==0.8.0
